<ul id="dropdown1" class="dropdown-content">
    <li><a href="addAlumno" class="green-text text-green darken-4">Registrar Alumnos</a></li>
    <li><a href="pregunamenu" class="green-text text-green darken-4">Registrar Preguntas</a></li>
    <li><a href="alumnos" class="green-text text-green darken-4">Calificaiónes</a></li>
    <li class="divider"></li>
    <li><a (click)="salir()" class="red-text text-red accent-4">Salir</a></li>
  </ul>
  
  <nav class="nav-extended green">
    <div class="nav-wrapper ">
  
      <a href="#" class="brand-logo" style="padding-top: 5px; padding-left: 10px;">ADMINISTRADOR</a>
      
      <div style="padding-top: 5px; padding-right: 5px;">
        <ul class="right hide-on-med-and-down">
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-trigger transparent-text text-transparent" data-target="dropdown1">utt<i class="material-icons right white-text text-white" id="menu">menu</i></a></li>
        </ul>
  
      </div>
    </div>
  </nav>
  <br/>

<!--FIN de la nav-->

<!--Contiene las tarjetas de la primera fila-->
<div class="center" style="padding-left: 200px;">
  <div class=" row col 12">

<!--Tarjeta pensamiento matematico-->
  <div class="col s6">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/svg/undraw_mathematics_4otb.svg" style="height: 280px;">
          
          <a class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        
        <div class="divider"></div>

        <div class="card-content">
          <p>Pensamiento Matematico</p>
        </div>

      </div>
    </div>
  </div>
  </div>
<!--Tarjeta pensamiento analitico-->
  <div class="col s6">
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="../../../assets/svg/undraw_forgot_password_gi2d.svg" style="height: 280px;">
            
            <a class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          
          <div class="divider"></div>
  
          <div class="card-content">
            <p>Pensamiento Analitico</p>
          </div>
  
        </div>
      </div>
    </div>
    </div>

  </div>
</div>  
<!--Fin del container de  las tarjetas-->

<!--Contiene las tarjetas de la segunda fila-->
<div class="center" style="padding-left: 200px;">
  <div class=" row col 12">

<!--Tarjeta Estructura del lenguaje-->
  <div class="col s6">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/svg/undraw_shared_goals_3d12.svg" style="height: 280px;">
          
          <a class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        
        <div class="divider"></div>

        <div class="card-content">
          <p>Estructura del lenguaje</p>
        </div>

      </div>
    </div>
  </div>
  </div>
<!--Tarjeta Comprensión Lectora-->
  <div class="col s6">
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="../../../assets/svg/undraw_book_lover_mkck.svg" style="height: 280px;">
            
            <a class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          
          <div class="divider"></div>
  
          <div class="card-content">
            <p>Comprensión Lectora</p>
          </div>
  
        </div>
      </div>
    </div>
    </div>

  </div>
</div>  
<!--Fin del container de  las tarjetas-->
